.main-header {
    background-color: #E91D21;
    text-align: center;
    
}
header h1 {
    color: white;
    font-family: "Roboto","Trebuchet MS",Helvetica,Arial,sans-serif;
    text-align: center;
    width: 100%;
}
header img {
    width: 20%;
}