#charactersList {
    list-style: none;
    margin: auto;
    padding: 0px;
    width: 50%;
    height: 750px;
    overflow: auto;
    flex: none;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.itemList {
    border-bottom: 1px solid #000000;
    background-color: #f5f4f2;
    padding: 10px;
}
li:hover {
    border-color: #777;
    box-shadow: 3px 3px 5px #333;
    padding: 6px;
}