<nav>
  <div class="navTitle">
    <h1> {{ comic?.title }} </h1>
    <h2> Details </h2>
</div>
</nav>
<section class="comicSection">  
    <div>
      <h3>Published on:</h3>
      <p></p>
    </div>
    <div>
      <h3>Writers:</h3>
      <p *ngFor="let wr of writers">{{ wr.name }}</p>
    </div>
    <div>
      <h3>Artist:</h3>
      <p *ngFor="let art of artists">{{ art.name }}</p>
    </div>
    <div>
      <h3>Summary:</h3>
      <p>{{ comic?.description }}</p>
    </div>    
      <app-list (clicked)="charClicked($event)"></app-list>  
</section>