nav {
    background-color: #000000;
    color: #d1d1d1;
    text-align: center;
}
.navTitle {
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

.navTitle h1 {
    font-size: 30px;
    margin: 2px;
}
.navTitle h2 {
    font-size: 15px;
    margin: 4px;
}
.comicSection {
    background-color: #faf7f7;    
    font-family: Arial, Helvetica, sans-serif;
}
.comicSection div {
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
    padding: 10px;
}
.comicSection h3 {
    color: #a8a8a8;
}