
<nav class="charactersNav"> 
  <input type="text" class="searchTerm" list="searchList" placeholder="Search character..." [formControl]="queryField"/>
  <datalist id="searchList">
    <option *ngFor="let opt of suggestions" [routerLink]="['/opt.id/',comics]">
      {{ opt.name }}   
    </option>
  </datalist>
  <button (click)="search()">Search</button>
</nav>
<section id="charactersSection">
  <ul id="charactersList" #charactersList>
    <li *ngFor="let character of characters" class="itemCharList" (click)="charClicked(character)">
      <div class="cardChar">
        <img src="{{ character.thumbnail.path }}.{{ character.thumbnail.extension }}" alt="No photo available" />
        <div class="infoChar">
          <h4> {{ character.name }} </h4>
          <p>{{ character.description }}</p>
        </div>
      </div>
    </li>
  </ul>  
</section>
